nodered/polverine-v2-flow.json
[
    {
        "id": "d2fe54ca79fd7aa8",
        "type": "tab",
        "label": "IAQ",
        "disabled": false,
        "info": "Dashboard v2 for Polverine air quality sensor board.\nBME690 (temperature, humidity, pressure, IAQ, VOC, CO2) + BMV080 (PM1, PM2.5, PM10).\nDashboard at /dashboard2",
        "env": []
    },
    {
        "id": "fc004cbb53de106c",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "pv2_theme",
        "type": "ui-theme",
        "name": "Dark",
        "colors": {
            "surface": "#1e1e1e",
            "primary": "#0094ce",
            "bgPage": "#111111",
            "groupBg": "#2c2c2c",
            "groupOutline": "#444444"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "pv2_page",
        "type": "ui-page",
        "name": "Polverine",
        "ui": "fc004cbb53de106c",
        "path": "/polverine",
        "icon": "home",
        "layout": "grid",
        "theme": "pv2_theme",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "pv2_grp_cl",
        "type": "ui-group",
        "name": "Climate",
        "page": "pv2_page",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "pv2_grp_aq",
        "type": "ui-group",
        "name": "Air Quality",
        "page": "pv2_page",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "pv2_grp_pm",
        "type": "ui-group",
        "name": "Particulate Matter",
        "page": "pv2_page",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "pv2_grp_dg",
        "type": "ui-group",
        "name": "Diagnostics",
        "page": "pv2_page",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "pv2_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "home.lan",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3e48b826faec9bc8",
        "type": "comment",
        "z": "d2fe54ca79fd7aa8",
        "name": "BME690 — Temperature, Humidity, Pressure, Air Quality",
        "info": "",
        "x": 260,
        "y": 20,
        "wires": []
    },
    {
        "id": "2d3923ec3610e02f",
        "type": "mqtt in",
        "z": "d2fe54ca79fd7aa8",
        "name": "BME690",
        "topic": "polverine/+/bme690",
        "qos": "0",
        "datatype": "json",
        "broker": "pv2_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "630060a20302e0ce",
                "4ebb948e578d402f",
                "c420688eedf66521",
                "d50597c3bb2a53c8",
                "2497e21330330374",
                "e08865f8aed205ef",
                "2efe499fb360fe5d",
                "51250b37723e274f",
                "f5a96241ac4cbb3b",
                "c9e3a62a0afb4b3f",
                "1925e3e9b33a2fe0",
                "1d871a75cb2f9777",
                "7e64aee159d585b8",
                "51c4f325b3366f08",
                "978e32f9ea68ebc9",
                "a3b1c2d3e4f50001",
                "a3b1c2d3e4f50002",
                "fd1ca61b212b59a3"
            ]
        ]
    },
    {
        "id": "630060a20302e0ce",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "Temperature",
        "func": "return { topic: \"Indoor\", payload: msg.payload.temperature };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 60,
        "wires": [
            [
                "330a69ec174aa94f",
                "b8a285c5c98852fc"
            ]
        ]
    },
    {
        "id": "4ebb948e578d402f",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "Humidity",
        "func": "return { topic: \"Indoor\", payload: msg.payload.humidity };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 120,
        "wires": [
            [
                "15940e663635c18d",
                "405a58a221ca5d0b"
            ]
        ]
    },
    {
        "id": "c420688eedf66521",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "Pressure (hPa)",
        "func": "return { topic: \"Indoor\", payload: msg.payload.pressure / 100 };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 180,
        "wires": [
            [
                "04f97185c4788ac1"
            ]
        ]
    },
    {
        "id": "d50597c3bb2a53c8",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "IAQ",
        "func": "return { topic: \"IAQ\", payload: msg.payload.iaq };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 240,
        "wires": [
            [
                "fed04c70354571c1",
                "740257a36077da8d"
            ]
        ]
    },
    {
        "id": "2497e21330330374",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "Static IAQ",
        "func": "return { topic: \"Static IAQ\", payload: msg.payload.static_iaq };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 300,
        "wires": [
            [
                "a1e923cd76056a39"
            ]
        ]
    },
    {
        "id": "e08865f8aed205ef",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "CO2",
        "func": "return { topic: \"CO2\", payload: msg.payload.co2 };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 360,
        "wires": [
            [
                "e35e8e6fcccdaa06"
            ]
        ]
    },
    {
        "id": "2efe499fb360fe5d",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "bVOC (ppb)",
        "func": "return { topic: \"bVOC\", payload: msg.payload.voc * 1000 };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 420,
        "wires": [
            [
                "a4cd5a61631fba32"
            ]
        ]
    },
    {
        "id": "51250b37723e274f",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "tVOC",
        "func": "return { topic: \"tVOC\", payload: msg.payload.tvoc };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 480,
        "wires": [
            [
                "d8eeb40721c1322f"
            ]
        ]
    },
    {
        "id": "f5a96241ac4cbb3b",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "Gas %",
        "func": "return { topic: \"Gas %\", payload: msg.payload.gas_percentage };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 540,
        "wires": [
            [
                "a71e54740ab0cecd"
            ]
        ]
    },
    {
        "id": "c9e3a62a0afb4b3f",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "IAQ Accuracy",
        "func": "return { topic: \"IAQ Accuracy\", payload: msg.payload.iaq_accuracy };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 600,
        "wires": [
            [
                "293cf96a7c508fdc"
            ]
        ]
    },
    {
        "id": "1925e3e9b33a2fe0",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "tVOC Accuracy",
        "func": "return { topic: \"tVOC Accuracy\", payload: msg.payload.tvoc_accuracy };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 660,
        "wires": [
            [
                "67bac9e7c60cd3a2"
            ]
        ]
    },
    {
        "id": "1d871a75cb2f9777",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "Raw Temperature",
        "func": "return { topic: \"Raw Temp\", payload: msg.payload.raw_temperature };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 720,
        "wires": [
            [
                "ab70519a0e43df17"
            ]
        ]
    },
    {
        "id": "7e64aee159d585b8",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "Raw Humidity",
        "func": "return { topic: \"Raw Humidity\", payload: msg.payload.raw_humidity };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 780,
        "wires": [
            [
                "ab70519a0e43df17"
            ]
        ]
    },
    {
        "id": "51c4f325b3366f08",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "Raw Gas",
        "func": "return { topic: \"Raw Gas\", payload: msg.payload.raw_gas };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 840,
        "wires": [
            [
                "ab70519a0e43df17"
            ]
        ]
    },
    {
        "id": "978e32f9ea68ebc9",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "BME Status",
        "func": "var s = [];\ns.push(\"Stabilized: \" + (msg.payload.stabilized ? \"Yes\" : \"No\"));\ns.push(\"Run-in: \" + (msg.payload.run_in ? \"Yes\" : \"No\"));\nreturn { payload: s.join(\" | \") };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 900,
        "wires": [
            [
                "00f77f7bea9961f7"
            ]
        ]
    },
    {
        "id": "a3b1c2d3e4f50001",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "CPU Temperature",
        "func": "return { topic: \"CPU Temp\", payload: msg.payload.cpu_temperature };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 940,
        "wires": [
            [
                "ab70519a0e43df17"
            ]
        ]
    },
    {
        "id": "a3b1c2d3e4f50002",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "Temp Offset",
        "func": "return { topic: \"Temp Offset\", payload: msg.payload.temp_offset };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 970,
        "wires": [
            [
                "ab70519a0e43df17"
            ]
        ]
    },
    {
        "id": "a1213be3c2f66779",
        "type": "comment",
        "z": "d2fe54ca79fd7aa8",
        "name": "BMV080 — Particulate Matter (PM1, PM2.5, PM10)",
        "info": "",
        "x": 230,
        "y": 1000,
        "wires": []
    },
    {
        "id": "1fcb0aba0dce483e",
        "type": "mqtt in",
        "z": "d2fe54ca79fd7aa8",
        "name": "BMV080",
        "topic": "polverine/+/bmv080",
        "qos": "0",
        "datatype": "json",
        "broker": "pv2_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1200,
        "wires": [
            [
                "0a329831bd018f4e",
                "bc5cf774dd99206b",
                "e534f657a70dd99e",
                "d423ee403c40d0c5",
                "37291b63897c19b2",
                "c7dd076b97ed2133",
                "58f0829b8c8b5793",
                "ceac4c5a016fd18c"
            ]
        ]
    },
    {
        "id": "0a329831bd018f4e",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "PM 1",
        "func": "return { topic: \"PM 1\", payload: msg.payload.pm1 };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1040,
        "wires": [
            [
                "37b479b20f6b81f0"
            ]
        ]
    },
    {
        "id": "bc5cf774dd99206b",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "PM 2.5",
        "func": "return { topic: \"PM 2.5\", payload: msg.payload.pm2_5 };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1100,
        "wires": [
            [
                "37b479b20f6b81f0"
            ]
        ]
    },
    {
        "id": "e534f657a70dd99e",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "PM 10",
        "func": "return { topic: \"PM 10\", payload: msg.payload.pm10 };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1160,
        "wires": [
            [
                "37b479b20f6b81f0"
            ]
        ]
    },
    {
        "id": "d423ee403c40d0c5",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "PM 1 Count",
        "func": "return { topic: \"PM 1\", payload: msg.payload.pm1_count };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1220,
        "wires": [
            [
                "88906564642c11a3"
            ]
        ]
    },
    {
        "id": "37291b63897c19b2",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "PM 2.5 Count",
        "func": "return { topic: \"PM 2.5\", payload: msg.payload.pm2_5_count };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1280,
        "wires": [
            [
                "88906564642c11a3"
            ]
        ]
    },
    {
        "id": "c7dd076b97ed2133",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "PM 10 Count",
        "func": "return { topic: \"PM 10\", payload: msg.payload.pm10_count };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1340,
        "wires": [
            [
                "88906564642c11a3"
            ]
        ]
    },
    {
        "id": "58f0829b8c8b5793",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "BMV Status",
        "func": "var s = [];\ns.push(\"Obstructed: \" + (msg.payload.obstructed ? \"Yes\" : \"No\"));\ns.push(\"Out of range: \" + (msg.payload.out_of_range ? \"Yes\" : \"No\"));\nreturn { payload: s.join(\" | \") };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1400,
        "wires": [
            [
                "799a090cd0dfac19"
            ]
        ]
    },
    {
        "id": "d19c783dc0f8ce5e",
        "type": "comment",
        "z": "d2fe54ca79fd7aa8",
        "name": "OpenWeatherMap — Outside Weather",
        "info": "",
        "x": 210,
        "y": 1460,
        "wires": []
    },
    {
        "id": "c2253990755abc09",
        "type": "openweathermap in",
        "z": "d2fe54ca79fd7aa8",
        "name": "London Weather",
        "wtype": "current",
        "lon": "-0.07964",
        "lat": "51.49798",
        "city": "",
        "country": "",
        "language": "en",
        "x": 130,
        "y": 1540,
        "wires": [
            [
                "951bba8681f2e212",
                "26c79e1fe99b304c",
                "942aa0e79021deea"
            ]
        ]
    },
    {
        "id": "951bba8681f2e212",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "Outside Temp",
        "func": "return { topic: \"Outside\", payload: msg.payload.tempc };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1500,
        "wires": [
            [
                "b8a285c5c98852fc"
            ]
        ]
    },
    {
        "id": "26c79e1fe99b304c",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "Outside Humidity",
        "func": "return { topic: \"Outside\", payload: msg.payload.humidity };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1560,
        "wires": [
            [
                "405a58a221ca5d0b"
            ]
        ]
    },
    {
        "id": "942aa0e79021deea",
        "type": "function",
        "z": "d2fe54ca79fd7aa8",
        "name": "Outside Pressure",
        "func": "return { topic: \"Outside\", payload: msg.payload.pressure };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1620,
        "wires": [
            [
                "04f97185c4788ac1"
            ]
        ]
    },
    {
        "id": "330a69ec174aa94f",
        "type": "ui-gauge",
        "z": "d2fe54ca79fd7aa8",
        "name": "Temperature",
        "group": "pv2_grp_cl",
        "order": 1,
        "width": 3,
        "height": 4,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperature",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "°C",
        "segments": [
            {
                "from": 0,
                "color": "#2196F3"
            },
            {
                "from": 15,
                "color": "#4CAF50"
            },
            {
                "from": 25,
                "color": "#FFC107"
            },
            {
                "from": 35,
                "color": "#F44336"
            }
        ],
        "min": 0,
        "max": 40,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 620,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "15940e663635c18d",
        "type": "ui-gauge",
        "z": "d2fe54ca79fd7aa8",
        "name": "Humidity",
        "group": "pv2_grp_cl",
        "order": 2,
        "width": 3,
        "height": 4,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humidity",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "%",
        "segments": [
            {
                "from": 0,
                "color": "#2196F3"
            },
            {
                "from": 30,
                "color": "#4CAF50"
            },
            {
                "from": 70,
                "color": "#F44336"
            }
        ],
        "min": 0,
        "max": 100,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 620,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "fed04c70354571c1",
        "type": "ui-gauge",
        "z": "d2fe54ca79fd7aa8",
        "name": "IAQ",
        "group": "pv2_grp_aq",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Indoor Air Quality",
        "units": "IAQ",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": 0,
                "color": "#00E400"
            },
            {
                "from": 51,
                "color": "#92D050"
            },
            {
                "from": 101,
                "color": "#FFFF00"
            },
            {
                "from": 151,
                "color": "#FF7E00"
            },
            {
                "from": 201,
                "color": "#FF0000"
            },
            {
                "from": 251,
                "color": "#8F3F97"
            },
            {
                "from": 351,
                "color": "#7E0023"
            }
        ],
        "min": 0,
        "max": 500,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 620,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b8a285c5c98852fc",
        "type": "ui-chart",
        "z": "d2fe54ca79fd7aa8",
        "group": "pv2_grp_cl",
        "name": "Temperature",
        "label": "Temperature (°C)",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "pointShape": false,
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 3,
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#00bcd4",
            "#ff9800",
            "#f44336",
            "#4caf50",
            "#9c27b0",
            "#ffeb3b",
            "#795548",
            "#607d8b",
            "#e91e63"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 820,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "405a58a221ca5d0b",
        "type": "ui-chart",
        "z": "d2fe54ca79fd7aa8",
        "group": "pv2_grp_cl",
        "name": "Humidity",
        "label": "Humidity (%)",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "pointShape": false,
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 3,
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#4caf50",
            "#ff9800",
            "#f44336",
            "#00bcd4",
            "#9c27b0",
            "#ffeb3b",
            "#795548",
            "#607d8b",
            "#e91e63"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 820,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "04f97185c4788ac1",
        "type": "ui-chart",
        "z": "d2fe54ca79fd7aa8",
        "group": "pv2_grp_cl",
        "name": "Pressure",
        "label": "Pressure (hPa)",
        "order": 5,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "pointShape": false,
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 3,
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#9c27b0",
            "#ff9800",
            "#f44336",
            "#4caf50",
            "#00bcd4",
            "#ffeb3b",
            "#795548",
            "#607d8b",
            "#e91e63"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 620,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "740257a36077da8d",
        "type": "ui-chart",
        "z": "d2fe54ca79fd7aa8",
        "group": "pv2_grp_aq",
        "name": "IAQ",
        "label": "IAQ Index",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": 0,
        "ymax": 500,
        "action": "append",
        "pointShape": false,
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 3,
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#4caf50",
            "#ff9800",
            "#f44336",
            "#00bcd4",
            "#9c27b0",
            "#ffeb3b",
            "#795548",
            "#607d8b",
            "#e91e63"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 820,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a1e923cd76056a39",
        "type": "ui-chart",
        "z": "d2fe54ca79fd7aa8",
        "group": "pv2_grp_aq",
        "name": "Static IAQ",
        "label": "Static IAQ",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": 0,
        "ymax": 500,
        "action": "append",
        "pointShape": false,
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 3,
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#4caf50",
            "#ff9800",
            "#f44336",
            "#00bcd4",
            "#9c27b0",
            "#ffeb3b",
            "#795548",
            "#607d8b",
            "#e91e63"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 620,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e35e8e6fcccdaa06",
        "type": "ui-chart",
        "z": "d2fe54ca79fd7aa8",
        "group": "pv2_grp_aq",
        "name": "CO2",
        "label": "CO2 (ppm)",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "pointShape": false,
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 3,
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#ff9800",
            "#4caf50",
            "#f44336",
            "#00bcd4",
            "#9c27b0",
            "#ffeb3b",
            "#795548",
            "#607d8b",
            "#e91e63"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 620,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a4cd5a61631fba32",
        "type": "ui-chart",
        "z": "d2fe54ca79fd7aa8",
        "group": "pv2_grp_aq",
        "name": "bVOC",
        "label": "bVOC (ppb)",
        "order": 5,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "pointShape": false,
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 3,
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#e91e63",
            "#4caf50",
            "#f44336",
            "#00bcd4",
            "#9c27b0",
            "#ffeb3b",
            "#795548",
            "#607d8b",
            "#ff9800"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 620,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "d8eeb40721c1322f",
        "type": "ui-chart",
        "z": "d2fe54ca79fd7aa8",
        "group": "pv2_grp_aq",
        "name": "tVOC",
        "label": "tVOC",
        "order": 6,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "pointShape": false,
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 3,
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#9c27b0",
            "#4caf50",
            "#f44336",
            "#00bcd4",
            "#ff9800",
            "#ffeb3b",
            "#795548",
            "#607d8b",
            "#e91e63"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 620,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "a71e54740ab0cecd",
        "type": "ui-chart",
        "z": "d2fe54ca79fd7aa8",
        "group": "pv2_grp_aq",
        "name": "Gas %",
        "label": "Gas %",
        "order": 7,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "pointShape": false,
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 3,
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#795548",
            "#4caf50",
            "#f44336",
            "#00bcd4",
            "#9c27b0",
            "#ffeb3b",
            "#ff9800",
            "#607d8b",
            "#e91e63"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 620,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "37b479b20f6b81f0",
        "type": "ui-chart",
        "z": "d2fe54ca79fd7aa8",
        "group": "pv2_grp_pm",
        "name": "PM Mass",
        "label": "PM Mass (µg/m³)",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": 0,
        "ymax": "",
        "action": "append",
        "pointShape": false,
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 3,
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#00bcd4",
            "#ff9800",
            "#f44336",
            "#4caf50",
            "#9c27b0",
            "#ffeb3b",
            "#795548",
            "#607d8b",
            "#e91e63"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 620,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "88906564642c11a3",
        "type": "ui-chart",
        "z": "d2fe54ca79fd7aa8",
        "group": "pv2_grp_pm",
        "name": "PM Count",
        "label": "PM Count (#/cm³)",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": 0,
        "ymax": "",
        "action": "append",
        "pointShape": false,
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 3,
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#00bcd4",
            "#ff9800",
            "#f44336",
            "#4caf50",
            "#9c27b0",
            "#ffeb3b",
            "#795548",
            "#607d8b",
            "#e91e63"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 620,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "293cf96a7c508fdc",
        "type": "ui-chart",
        "z": "d2fe54ca79fd7aa8",
        "group": "pv2_grp_dg",
        "name": "IAQ Accuracy",
        "label": "IAQ Accuracy (0-3)",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": 0,
        "ymax": 3,
        "action": "append",
        "pointShape": false,
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 3,
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#2196F3",
            "#ff9800",
            "#f44336",
            "#4caf50",
            "#9c27b0",
            "#ffeb3b",
            "#795548",
            "#607d8b",
            "#e91e63"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 6,
        "className": "",
        "x": 620,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "67bac9e7c60cd3a2",
        "type": "ui-chart",
        "z": "d2fe54ca79fd7aa8",
        "group": "pv2_grp_dg",
        "name": "tVOC Accuracy",
        "label": "tVOC Accuracy (0-3)",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": 0,
        "ymax": 3,
        "action": "append",
        "pointShape": false,
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 3,
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#2196F3",
            "#ff9800",
            "#f44336",
            "#4caf50",
            "#9c27b0",
            "#ffeb3b",
            "#795548",
            "#607d8b",
            "#e91e63"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 6,
        "className": "",
        "x": 620,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "ab70519a0e43df17",
        "type": "ui-chart",
        "z": "d2fe54ca79fd7aa8",
        "group": "pv2_grp_dg",
        "name": "Raw Sensors",
        "label": "Raw Sensors",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "pointShape": false,
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 3,
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#00bcd4",
            "#4caf50",
            "#ff9800",
            "#f44336",
            "#9c27b0",
            "#ffeb3b",
            "#795548",
            "#607d8b",
            "#e91e63"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "x": 620,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "00f77f7bea9961f7",
        "type": "ui-text",
        "z": "d2fe54ca79fd7aa8",
        "group": "pv2_grp_dg",
        "order": 4,
        "width": 3,
        "height": 2,
        "name": "BME Status",
        "label": "BME690",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#ffffff",
        "className": "",
        "x": 620,
        "y": 900,
        "wires": []
    },
    {
        "id": "799a090cd0dfac19",
        "type": "ui-text",
        "z": "d2fe54ca79fd7aa8",
        "group": "pv2_grp_dg",
        "order": 5,
        "width": 3,
        "height": 2,
        "name": "BMV Status",
        "label": "BMV080",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#ffffff",
        "className": "",
        "x": 620,
        "y": 1400,
        "wires": []
    },
    {
        "id": "fd1ca61b212b59a3",
        "type": "debug",
        "z": "d2fe54ca79fd7aa8",
        "name": "DBG BME690",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.temperature",
        "statusType": "msg",
        "x": 100,
        "y": 660,
        "wires": []
    },
    {
        "id": "ceac4c5a016fd18c",
        "type": "debug",
        "z": "d2fe54ca79fd7aa8",
        "name": "DBG BMV080",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.pm2_5",
        "statusType": "msg",
        "x": 120,
        "y": 1340,
        "wires": []
    }
]